.header,
.footer {
	background:#366EB5 !important;
	color:white !important;
}

@media only screen and (max-width:959px) {
	.project {
    	background:#366EB5 !important;
		color:white !important;
	}
}

.article p>strong>code {
    white-space: nowrap;
    padding: 2px 4px;
}